/* NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #130754; /* Adjust the background color as needed */
  color: #fff; /* Text color */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.logo-container {
  display: flex;
  align-items: center;
}

.rotating-sun {
  width: 50px; /* Adjust the size of the rotating sun icon */
  height: 50px;
  margin-right: 10px;
  animation: rotate 3s linear infinite; /* Add a rotation animation */
}

/* Add a media query for smaller screens */
@media screen and (max-width: 768px) {
  .rotating-sun {
      width: 30px; /* Adjust the size of the rotating sun icon for smaller screens */
      height: 30px;
  }
  h2 {
      font-size: 18px;
  }
  .portfolio-link {
      margin-top: 10px;
  }
  .portfolio-link button {
      padding: 8px 12px;
      font-size: 14px;
  }
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.portfolio-link button {
  background-color: #3498db; /* Adjust the button background color */
  color: #fff; /* Button text color */
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.portfolio-link button:hover {
  background-color: #c0392b; /* Adjust the button background color on hover */
}

.portfolio-link button:focus {
  outline: none;
}
